.add-note-btn {
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 20px;
    border: none;
    font-size: 33px;
    background-color: var(--notes-color);
    color: white;
    box-shadow: inherit;
    overflow-y: scroll;
}

.add-note-btn:hover {
    transform: translate(-50%, 50%) scale(1.1);
}

.notes-form-container {
    position: absolute;
    top: -100px;
    right: 100px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: var(--roundness);
    box-shadow: 0 40px 30px -30px rgba(70, 70, 70, 0.1);
    /* animation: form 0.25s ease-out forwards; */
}
