:root {
    --roundness: 15px;
    --todos-color: rgb(253, 228, 13);
    --notes-color: rgb(255, 168, 106);
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(250, 250, 250);
}

* {
    font-family: inherit;
    transition: all 0.15s ease-out;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: unset;
}

.checkmark,
button:hover,
input[type='checkbox'] {
    cursor: pointer;
}

textarea {
    resize: none;
    border: none;
    background-color: transparent;
}

input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: flex;
    align-self: center;
    height: 20px;
    aspect-ratio: 1;
    background-color: #eee;
    border-radius: 3px;
}

input[type='checkbox']:checked ~ .checkmark {
    background-color: #007fe8;
}

input[type='checkbox']:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: '';
    display: none;
    width: 20px;
    height: 20px;
}
