.todo-item-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 15px;
    font-size: 20px;
    border-radius: var(--roundness);
    justify-items: left;
    gap: 1em;
}

.todo-item-container:hover {
    background-color: rgb(250, 250, 250);
}

.todo-checkbox {
    width: 20px;
    margin: 0;
}

.todo-item-title {
    text-decoration-thickness: 5px !important;
    width: 100%;
    text-align: left !important;
}

.tooltip-text {
    position: absolute;
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    left: 105%;
    background-color: white;
    z-index: 1;
    white-space: nowrap;
    box-sizing: border-box;
    opacity: 0;
    border-radius: inherit;
    font-size: inherit;
    padding: inherit;
}

.tooltip-text > * {
    display: flex;
    align-self:center;
}

.todo-item-container:hover .tooltip-text {
    animation: tooltip 0.2s 1s ease-out forwards;
}

@keyframes tooltip {
    from {
        transform: translate(-10px, -15px);
        opacity: 0;
    }
    to {
        transform: translate(0px, -15px);
        opacity: 1;
    }
}
