.note-item-container .note-block-container {
    --ref: 155px;
    border-radius: calc(var(--ref)/15);
    padding: calc(var(--ref)/20);
    width: var(--ref);
}

.note-item-container .note-block-container textarea {
    font-size: calc(var(--ref)/20);
}

.note-item-container:hover, 
.note-item-container .note-block-container textarea:hover {
    transform: scale(1.025);
    cursor: pointer;
    user-select: none;
}
