.note-block-container {
    background-color: var(--notes-color);
    aspect-ratio: 1.3;
    border-radius: var(--roundness);
    --ref: 400px;
    padding: calc(var(--ref) / 20);
    width: var(--ref);
}

.note-block-container textarea {
    font-size: calc(var(--ref) / 20);
}
